.link-nav:hover span:last-child {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease;
}

.section--visible {
    opacity: 1;
    transform: translateY(0);
}